<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta id="view" name="viewport"
          content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1"/>
    <title>Sophist Journey</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/stylesheet" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/stylesheet" href="{% static 'css/layout_large.css' %}"/>
    <link rel="stylesheet" type="text/stylesheet" href="{% static 'css/search_style.css' %}"/>
    <link rel="stylesheet" type="text/stylesheet" href="{% static 'css/search_layout_large.css' %}"/>
    <link rel="stylesheet" type="text/stylesheet" href="{% static 'css/profile_style.css' %}"/>
    <link rel="stylesheet" type="text/stylesheet" href="{% static 'css/profile_layout_large.css' %}"/>
    <link rel="stylesheet" type="text/stylesheet" media="only screen and (min-width:501px) and (max-width:800px)"
          href="{% static 'css/layout_medium.css' %}"/>
    <link rel="stylesheet" type="text/stylesheet" media="only screen and (min-width:50px) and (max-width:500px)"
          href="{% static 'css/layout_small.css' %}"/>
    <script src="{% static 'js/trd/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <!--[if it IE 9]>
		<script src='http://html5shiv.googlecode.com/svn/trunk/html5.js'></script>
		<![endif]-->
</head>
<body>
<div class="page">
    {% include 'main_nav.html' with user=user %}
    <div class="photo_header" style="background-image:url({{ MEDIA_URL }}{{ user.cover_photo }})">
    </div>
    <div class="info_bar">
        <div class="statistic_column">
            <a href="{% url 'follower' user.id %}">
                <div class="statistic follower"><span
                        class="vertical_middle">{{ user.followers.count }} Followers</span></div>
            </a>
            <a href="{% url 'following' user.id %}">
            <div class="statistic following"><span
                        class="vertical_middle">{{ user.followings.count }} Followings</span></div>
            </a>
        </div>
        <div class="navigation_column">
            <a href="{% url 'edit_profile' %}">
                <div class="profile_nav profile"><span class="vertical_middle">Profile</span></div>
            </a>
            <a href="{% url 'accessible_journeys' %}">
                <div class="profile_nav journey"><span class="vertical_middle">Journeys</span></div>
            </a>

            <div class="profile_nav share"><span class="vertical_middle">Shares</span></div>
        </div>
        <div class="detailed_column">

            <div class="detailed picture"><img
                    src="{% if user.profile_photo %}{{ MEDIA_URL }}{{ user.profile_photo }}{% endif %}"></div>
            <div class="detailed name">{{ user.name }} {{ user.surname }}</div>


        </div>
        <header>
        </header>
    </div>
    <div class="content_container">
        <div class="essential_content_container">
            <div class="life_time_container">
                <div class="header">
                    Life Time
                </div>
                {% if user.educations.all|length > 0 %}
                    <div class="sub_container">
                        <div class="header">
                            <div class="icon">
                            </div>

                            <div class="text">
                                Education
                            </div>
                        </div>
                        <div class="content">
                            <ul>
                                {% for education in user.educations.all %}
                                    <li>{{ education.program }}, {{ education.school.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if user.works.all|length > 0 %}
                    <div class="sub_container">
                        <div class="header">
                            <div class="icon">
                            </div>
                            <div class="text">
                                Work
                            </div>
                        </div>
                        <div class="content">
                            <ul>
                                {% for work in user.works.all %}
                                    <li>{{ work.title }}, {{ work.company }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
                {% if user.interests.all|length > 0 %}
                    <div class="sub_container">
                        <div class="header">
                            <div class="icon">
                            </div>
                            <div class="text">
                                Interests
                            </div>
                        </div>
                        <div class="content">
                            <ul>
                                {% for interest in user.interests.all %}
                                    <li>{{ interest.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="sum_of_me_container">
                <div class="header">
                    Sum of Me
                </div>
                <div class="sub_container">
                    <div class="text">
                        {{ user.summary }}
                    </div>
                    <div class="photo">
                    </div>
                </div>
            </div>
        </div>
        <div class="journeys_container">
            {% for journey in journeys %}
                <div class="journey_container">
                    <div class="photo">
                        <img src="{% if journey.photo %}{{ MEDIA_URL }}{{ journey.photo }}{% endif %}">
                    </div>
                    <div class="journey_info">
                        <a href="{% url 'journey' journey.id %}">
                            <div class="summary">
                                <div class="text">
                                    {{ journey.summary }}
                                </div>
                            </div>
                        </a>

                        <div class="plugins">
                            <div class="love">
                                <a href="{% url 'love_journey' journey.id %}">LOVE{% if journey.loves.count > 0 %}(
                                    {{ journey.loves.count }}){% endif %}</a>
                            </div>
                            <div class="share">
                                <a href="{% url 'share_journey' journey.id %}">SHARE{% if journey.sharers.count > 0 %}(
                                    {{ journey.sharers.count }}){% endif %}</a>
                            </div>
                            <div class="comment">
                                <a href="{% url 'create_comment' journey.id %}">COMMENT</a>
                            </div>
                        </div>
                    </div>
                    <div class="comments_container">
                        {% for comment in journey.comments.all %}
                            <div class="comment_container">
                                <div class="photo">
                                    <img src="
                                            {% if comment.user.profile_photo %}{{ MEDIA_URL }}{{ comment.user.profile_photo }}{% endif %}">
                                </div>
                                <div class="text">
                                    {{ comment.text }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>