<div class="main_nav">
    <div class="site_logo">
    </div>
    <div class="nav_profile_icons_container">
        <div class="profile_icon"></div>
        <div class="love_icon"></div>
        <div class="privacy_icon"></div>
        <div class="logout_icon"></div>
    </div>
    <div class="nav_icons_container">
        <div class="search_bar">
            <form action="{% url 'search' %}" method="GET"><input type="text" placeholder="Search..." name="key"></form>
        </div>
        <div class="home_icon"></div>
        <div class="explore_icon"></div>
        <div class="message_icon"></div>
        <div class="journey_icon"></div>
    </div>
</div>