.search_container {
    width: 100%;
}

.category_search {
    width: 50%;
    display: inline-block;
    float: left;
}

.position_search {
    width: 50%;
    display: inline-block;
    float: left;
}

.search_container form {
    width: 50%;
    margin: 0 auto;
}

.journey_container {
    display: block;

}

.journey_row {
    display: block;
}

.journey {
    display: inline;
    float: left;
    background-color: #CCCCCC;
}

.journey .photo {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.journey .photo img {
    max-width: 100%;
    max-height: 100%;
}

.journey .name {

}

.journey .position {

}

.journey .category {

}