.journeys_container {
    margin-top: 100px;
    margin-bottom: 100px;
}

.journey_container {
}

.journey_container > .photo {
    height: 150px;
}

.journey_container > .photo img {

}

.journey_container .journey_info {
    height: 150px;
}

.journey_container .journey_info .summary {

}

.summary .text {
    padding: 10px;
}

.summary .plugins {

}

.plugins .love {

}

.plugins .share {

}

.plugins .comment {

}

.comments_container {

}

.comment_container {
    height: 50px;
    padding: 10px;
}

.comment_container .photo img {
    width: 50px;
    height: 50px;
}

.comment_container .text {

}